@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #8A2BE2;
  --line-border-empty: #e0e0e0
}

*{
  box-sizing: border-box;
}

body{
  align-items: center;
  background-color: #f6f7fb;
  display: flex;
  font-family: 'Muli', sans-serif;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 100%;
  position: relative;
  width: 350px;
}

.progress-container::before {
  background-color: var(--line-border-empty);
  content:' ';
  height: 4px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  left: 0;
  height: 4px;
  position: absolute;
  transform: translateY(-50%);
  transition: 0.4s ease;
  top: 50%;
  width: 0%;
  z-index: -1;
}

.circle {
  align-items: center;
  background-color: white;
  color: #999;
  display: flex;
  border: 3px solid var(--line-border-empty);
  border-radius: 15%;
  height: 30px;
  justify-content: center;
  transition: .4s ease;
  width: 30px;
}

.circle.active {
  border-color: var(--line-border-fill);;
}

.btn{
  background-color: var(--line-border-fill);
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus{
  outline: 0;
}

.btn:disabled{
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}